* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgb(170, 169, 169) !important;
  text-decoration: none !important;
}

@import "styles/media";

@import "components/Sidebar.scss";

@import "page/Player/PlayerStatistika.scss";
@import "page/Leagues.scss";
@import "page/Continents.scss";
@import "page/Countries.scss";

@import "page/Team/TeamInfo.scss";

//   @import "pages/Records.scss";
//   @import "pages/ProPlayers.scss";

//   @import "Components/Footer.scss";
//   @import "Components/Card.scss";
//   @import "Components/SearchBox.scss";
//   @import "Components/Title.scss";
//   @import "Components/Hero/HeroMatches.scss";
//   @import "Components/Hero/HeroInfoBanner.scss";
//   @import "Components/Hero/HeroInfoSkills.scss";
//   @import "Components/Hero/HeroDuration.scss";
//   @import "Components/Player/PlayerLoseWin.scss";
//   @import "Components/Player/PlayerBanner.scss";
//   @import "Components/Player/PlayerMatches.scss";
